In [1]:
#tuple

In [ ]:
a=(33)
type(a)

In [ ]:
#create tuple with one element
a=(33,)
type(a)

In [ ]:
#creating tuple without parentheses
t='divya',34,35,67,87,34,24
t

In [ ]:
#tuple without parentheses is also konown as tuple packages
t,(45,'divya',34,35,67,5+7j)
type(t)

In [2]:
#creating tuple with constructor
t=tuple(('dev',45,67,'ash'))
t

('dev', 45, 67, 'ash')

In [5]:
fruit={"apple","orange","banana"}
for x in fruit:
    print(x)

orange
apple
banana

In [ ]:
#set method

In [9]:
fruit={"apple","orange","banana"}
print(len(fruit))

3

In [7]:

fruit.add("grapes")

In [ ]:
fruit

In [11]:
fruit.update(["cherry","mango"]) # add can add only one but update we can update more than one 
fruit

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [ ]:
#craeting tuple with

In [ ]:
del t[0]

In [ ]:
t[0]='heena'

In [26]:
len(t)

6

In [ ]:
del t

In [ ]:
t

In [ ]:
#convert tuple into list
t=(34,67,87,'ash','rosin',78)

In [12]:
x=list(t)
print(x)

['dev', 45, 67, 'ash']

In [15]:
type(x)

list

In [14]:
t[3]=90

<class 'TypeError'>: 'tuple' object does not support item assignment

In [16]:
t=tuple(x)
print(t)

('dev', 45, 67, 'ash')

In [17]:
t[1]=67

<class 'TypeError'>: 'tuple' object does not support item assignment

In [ ]:
del t

In [ ]:
t

In [18]:
#Loop through a tuple
t=(34,'ash',34.4,45,56,'rosin')
for i in t:
    print(i)

34
ash
34.4
45
56
rosin

In [20]:
#count the element of tuple
t.count(34)

1

In [27]:
t=(34,'ash',34.4,45,56,'rosin')
len(t)

6

In [32]:
t=(34.4,45,56)
print(min(t))

34.4

In [31]:
t=(34.4,45,56)
print(max(t))

56

In [33]:
#concentation
t1=(1,2,4)
t2=(5,6,7)
t=t1+t2
print(t)

(1, 2, 4, 5, 6, 7)

In [ ]:
#set method

In [34]:
#remove is used for selected one
fruit={"apple","orange","banana"}
fruit.remove("apple")
print(fruit)

{'orange', 'banana'}

In [35]:
#pop is used to remove random one
fruit={"apple","orange","banana"}
fruit.pop()
print(fruit)

{'apple', 'banana'}

In [38]:
#union
set1={1,2,3}
set2={1,4,5,6}
set=set1.union(set2)
print(set)

{1, 2, 3, 4, 5, 6}

In [39]:
#intersection
set1={1,2,3}
set2={1,4,5,6}
set=set1.intersection(set2)
print(set)

{1}

In [40]:
#difference
set1={1,2,3}
set2={1,4,5,6}
set=set1.difference(set2)
print(set)

{2, 3}

In [ ]:
#convert sequence into tuple
t="learn tuple"
t=tuple(t)
t1

In [ ]:
type(t1)

In [41]:
#index position
t=(34,'ash',34.4,45,56,'rosin')
t.index('ash')

1

In [43]:
#sorting a tuple
t=(1,2,33,45,65,78)
sorted(t)

[1, 2, 33, 45, 65, 78]

In [44]:
f=("ash","ros","dev","nina")
sorted(f)

['ash', 'dev', 'nina', 'ros']

In [46]:
t

(1, 2, 33, 45, 65, 78)

In [48]:
sorted(t,reverse=True)

[78, 65, 45, 33, 2, 1]

In [45]:
type(sorted(t))

list

In [50]:
t.sort()

<class 'AttributeError'>: 'tuple' object has no attribute 'sort'

In [49]:
t1=(34,'ash',34.4,45,56,'rosin')
t1.sort()

<class 'AttributeError'>: 'tuple' object has no attribute 'sort'

In [53]:
#nested list for tuple
t=(34,89,90,('cat','ash'),89)
t

(34, 89, 90, ('cat', 'ash'), 89)

In [54]:
t[3]

('cat', 'ash')

In [ ]:
t[3][0]

In [ ]:
t.append(67)

In [ ]:
dir(t)